* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: none;
}

.dFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.calculator {
  width: 700px;
}

.height100px {
  height: 100px;
  max-height: 100px;
}

.width100 {
  width: 100%;
}


.display {
  background-color: gray;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding: 4% 15px;
}

.justifyContentEnd {
  justify-content: flex-end;
}

.button {
  height: 100%;
  border: 1px solid lightgray;
}

.normalButton {
  width: 25%;
}

.zeroButton {
  width: 50%;
}

.lightGrayBG {
  background-color: rgb(228, 228, 228);
}

.orangeBG {
  background-color: orange;
}

.navbar {
  padding: 15px;
  font-size: 1.2em;
  box-shadow: 0 0 3px 3px gray;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.alignItemsCenter{
  align-items: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifyContentCenter {
  justify-content: center;
}

.home {
  max-width: 1200px;
  font-size: 1.2em;
  margin: 100px auto;
}

.home p {
  max-width: 90%;
  margin: 0 auto;
}

.home h1 {
  margin-bottom: 50px;
}

.height90vh {
  height: 90vh;
}